[Desktop Entry]
Name=Pi-Hole FS1 LAN
Type=Application
{# NOTE! When this desktop file is created, we are running from the workstation playbook,
   and thus don't have access to the pihole vars defined in luxor's hosts.yml
   There is no easy way to expose the host-specific vars from the luxor playbook to 
   the workstation playbook  #}
Exec=/usr/bin/chromium-browser --new-window --app="http://{{ hostinfo.bilbeis.pihole }}/admin"
GenericName={{ hostinfo.bilbeis.pihole }}
Comment=
Categories=Network;WebDevelopment;
Keywords=pihole;webapp;pi-hole;fs1;lan;
StartupWMClass=chromium-app-pihole
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
