BLOCKING_ENABLED=true
{# the following if-else sets one password for FM-NET, and another (default) for all other hosts #}
{% if lan.domain is defined and lan.domain == "fmnet" %}
WEBPASSWORD={{ lookup('community.general.passwordstore', 'ansible/roles/pihole/fmpassword subkey=hashed') }}
{% else %}
WEBPASSWORD={{ lookup('community.general.passwordstore', 'ansible/roles/pihole/webpassword subkey=hashed') }}
{% endif %}
DNSMASQ_LISTENING={{ pihole_listening }}
DNSSEC=false
PIHOLE_INTERFACE={{ pihole.network.interface }}
IPV4_ADDRESS={{ pihole.network.ipv4 }}
IPV6_ADDRESS={{ pihole.network.ipv6 | default('') }}
PIHOLE_DNS_1={{ pihole.dns[0] }}
PIHOLE_DNS_2={{ pihole.dns[1] | default('') }}
QUERY_LOGGING=false
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
{# the following if-else sets all settings necessary to use conditional forwarding or disables it #}
{% if lan.domain is defined and lan.gateway.ipv4 is defined %}
DNS_BOGUS_PRIV=false
REV_SERVER=true
REV_SERVER_DOMAIN={{ lan.domain }}
REV_SERVER_TARGET={{ lan.gateway.ipv4 }}
REV_SERVER_CIDR={{ lan.gateway.ipv4 }}
{% else %}
DNS_BOGUS_PRIV=true
REV_SERVER=false
{% endif %}
